*.jsbundle
*.tsbuildinfo
.DS_Store
.eslintcache
.history
.jest
.now
.vscode
Pods
node_modules/
npm-debug.log
yarn-error.log
.gitpod.yml
.nowignore
.travis.yml
FUNDING.yml
tap-release.yml
.prettierrc.js
.eslintrc.js

